
.dropdown1{
    width: 130px;
    text-align: left;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 0px;
    border: 0px;
    border-bottom: 3px solid #ec6525;
    appearance: none;

    background-image: url('../../assets/icons/pfeilUntenOrange.svg');
    background-position: bottom right;
    background-position-y: 16px;
	background-size: 25px;
	background-repeat: no-repeat;
}

.inhaltRechts{
    justify-content: right;
    text-align: right;
    
}
.tag1{
    margin-top: 15px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: larger;
    min-height: 500px;
}
.tag2{
    margin-top: 15px;
    border: 1px solid black;
    border-left-width: 0px;
    text-align: center;
    font-size: larger;
    min-height: 500px;
}
.tag3{
    margin-top: 15px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-width: 0px;
    text-align: center;
    font-size: larger;
    min-height: 500px;
}
.tag4{
    margin-top: 15px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: larger;
    min-height: 500px;
}