.icons{
    margin-top: 20px;
   font-size: 120px;
   }
.btn-sq-lg {
       width: 200px ;
       height: 200px ;
     }
     
     .btn-sq {
       width: 100px !important;
       height: 100px !important;
       font-size: 10px;
     }
     
     .btn-sq-sm {
       width: 50px !important;
       height: 50px !important;
       font-size: 10px;
     }
     
     .btn-sq-xs {
       width: 25px !important;
       height: 25px !important;
       padding:2px;
     }
   
   .textbox{
       color: white;
       margin-top: 10px;
       font-family: 'Quicksand', 'sans-serif';
   }
   
   .boxorange{
    background-color: #ef814c;
   }
   
   .boxred{
       background-color:#d84248;
   }
   
   .boxpurple{
       background-color: #bd5aa1;;
   }
   
   .boxpurple:hover{
       background-color: #a42681;;
       
   }
   
   .iconcolred{
       color: #9f131a;
   }
   
   .iconcolorange{
       color: #d65c23;
   }
   
   .iconcolpurple{
       color: #86196b;
   }
   
   .toprow{
       margin-top: 35px;
   }