.chips {
    background: red
}

.multiselectContainer {
    color: red
}

.buttonplace{
    margin-top: 20px;
}

.linie{
    padding-bottom: 1px;
    border-radius: 50px;
    background-color: #bd5aa1;
  }

  .grenze{
      margin-top: 10px;
  }

  .circle{
      border-radius: 100%;
  }

  .buttonstyle{
      margin-top: 20px;
      width: 20%;
      text-align: center;
  }