.Bild{
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.profs {
	height: 100%;
	padding: 15px;
    
}

.Name {
    font-size: 30px;
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 300;
}

.prof{
   margin-top: 40px;
   justify-content: center;
   text-align: center;
}





