*{
    list-style: none;
    
}

body{
    overflow-y: auto;
}

.Speichern{
    border-radius: 100%;
    background-color: aquamarine;
    font-size: large;
    margin: 10px;
    padding: 50px;
}

.Loeschen{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    font-size: 40px;
    margin: 5px;
}

.Drag{
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 4px;
    display: flex;
    justify-content: space-between
    
}

.Dropzone{
    overflow-x: scroll;
}

#pflicht{
    background-color: #d84248;
}

#vertiefung{
    background-color:#ef814c;;
}

#wahl{
   background-color:  #bd5aa1;;
       
}

#gold{
    background-color: gold;
}


.Semester{
    background: #f4f4f4;
    border-radius: 20px;
    height:70vh;
    margin: 10px;
    text-align: center;
}

.SemesterButtons{
    text-align: right;  
    align-self: flex-end;
}





