
body{
    width:100%;
    overflow-x: hidden;    
}
.Leiste {
    background-color: #f4f4f4;
    height: 8vh;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0px;
   
   
}

.Logo {
    height:5vh;
}



.Hamburger {
    font-size: 35px;
    cursor: pointer;
    
}

button{
    border: none;
}

.Hamburger:hover{
    color: #af368c;
}

.Center{
  text-align: center;
  padding: 0px;
}

.Left{
    text-align: left;
    padding: 0px;
  }

  .Right{
    text-align: right;
    padding: 0px;
  }



.LeistenSchrift{
    font-weight: 500;
}

.hoverRed{
    color:black;
}

.hoverRed:hover{
    color: #cf1820;
}

.hoverRed:active{
    color: #cf1820;
}

.hoverOrange{
    color:black;
}

.hoverOrange:hover{
    color: #ec6525;
}

.hoverPurple{
    color:black;
}

.hoverPurple:hover{
    color: #af368c;
}

.Red{
    color:#cf1820;
}

.NavLinks{
    display: flex;
    flex-direction: row;

    list-style: none;
     
}

.NavLinks li{
 margin-top: 3vh;;
}

.NavLinksSide{
    list-style: none;
    position:absolute;
    top: 8vh;
    right: 0px;
    height: 92vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:23%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    display: none;
}

.NavLinksSide-Active{
    list-style: none;
    position:absolute;
    top: 8vh;
    right: 0px;
    height: 92vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:23%;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}


@media screen and (max-width:991px) {
    #hidden{
        display: none;
    }

    .NavLinks{
        display: flex;
        flex-direction: column;
    }

    .NavLinksSide{
        display: none;
    }
    .NavLinksSide-Active{
        display: none;
    }

    .Collapsable{
    background-color: #f4f4f4;
    }
    
}

@media screen and (min-width:992px) {
    #shown{
        display: none;
    }
    
}